body{
    padding: 50px;
}

.container{
    border: 1px solid black;
    
}

h2{
    content: center;
    padding-left: 400px;
}

.row{
    border: 1px solid black;
}

h4{
    font-family: serif;
    font-weight: 500px;
    
    font-size: 100;
    background-color: burlywood; 
}

div .custom-column i::after{
    content: ":";
}

div a{  
    font-size: 15px;
}

.table{
    font-size: 14px !important;
    font-family: sans-serif !important;
}

pre{
    font-size: 14px !important;
    font-family: sans-serif !important;
}

.points{
    font-size: 14px !important;
    font-family: sans-serif !important;
}

a{
    color: green;
    background: white;
    font-size: 30px;
}

.list{
    display: inline;
}

